* {
    scroll-behavior: smooth;
}
body {
    background-color: #222526;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;

    position: absolute;
    inset: 0;
}

/* Font */

h1, h2, h3, h4, h5, h6, p, div, button {
    font-family: Roboto, Arial, sans-serif;
    color: white;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
h1 {
    font-size: 6rem;
    font-weight: bold;
    text-align: center;
}
h2 {
    font-size: 3rem;
    text-align: center;
}
h3 {
    font-size: 2.25rem;
}
h5 {
    font-size: 1.5rem;
    font-weight: bold;
}
h6 {
    font-size: 1rem;
}
p {
    font-size: 1.25rem;
    max-width: 80%;
    text-align: center;
}
@media (max-width: 550px) {
    h5 {
        font-size: 1rem;
    }
    h6 {
        font-size: 0.7rem;
    }
}

/* Custom Scrollbar */
@media (min-width: 700px) {
    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-track {
        background: #111111;
    }
    ::-webkit-scrollbar-thumb {
        background: #fbda03;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #f3ec78;
    }
}

.question-answers {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.question {
    padding: 0 5px;
    margin-bottom: 30px;
}
button {
    border: solid 3px white;
    background-color: unset;
    font-size: 1.25rem;
    border-radius: 7px;

    text-align: center;
    padding: 20px 45px;
    margin: 10px;

    cursor: pointer;
}
button:hover {
    background: linear-gradient(to right, rebeccapurple, #4e3573, rebeccapurple);
    border-color: #432e63;
}
#question-count {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 0 0 10px;

    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.75rem;
    background: linear-gradient(rebeccapurple, rebeccapurple, #432e63);
    z-index: 1;
}
#title-card {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 0 10px 0;

    text-align: center;
    padding: 0.75rem;
    background: linear-gradient(rebeccapurple, rebeccapurple, #432e63);
    text-decoration: none;
    z-index: 1;
}
#github-card {
    position: absolute;
    bottom: 0;
    left: 0;

    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    z-index: 1;
}
#start, #next {
    margin-top: 30px;
}
#github-card a {
    cursor: pointer;
    padding-left: 7px;
    display: flex;
    align-items: center;
}
.github-logo {
    width: 1.5rem;
}
#github-card a:hover .github-logo {
    filter: brightness(70%);
}
@media (max-width: 400px) {
    #title-card {
        border-radius: 0;
        right: 0;
    }
    #question-count {
        bottom: 0;
        top: unset;
        border-radius: 10px 0 0 0;
    }
    button {
        padding: 20px 25px;
    }
    #github-card a {
        padding: 0;
    }
    #github-card h6 {
        display: none;
    }
}