* {
    scroll-behavior: smooth;
}
body {
    background: linear-gradient(to top right,
    #3e41ff,
    #38b1fc,
    #035bbb,
    #6fc1f1,
    #3e41ff,
    #219bfc,
    #3e41ff,
    #3e41ff,
    #9fdcff) fixed;
    background-size: 600% 600%;
    animation: AnimationName 60s ease infinite;
}
@keyframes AnimationName {
    0%{background-position: 0 50%}
    50%{background-position: 100% 50%}
    100%{background-position: 0 50%}
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;

    position: absolute;
    inset: 0;
}

/* Font */

h1, h2, h3, h4, p, div, button {
    font-family: Roboto, Arial, sans-serif;
    color: white;
}
h5, h6 {
    font-family: Roboto, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
h1 {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
}
h2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 25px;
}
h3 {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 5px;
}
h4 {
    text-align: center;
    color: #e3e3e3;
}
h5 {
    font-size: 1.5rem;
    font-weight: bold;
}
h6 {
    font-size: 1rem;
}
p {
    font-size: 1.25rem;
    max-width: 80%;
    text-align: center;
}
@media (max-width: 550px) {
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1rem;
    }
    h4 {
        font-size: 0.7rem;
    }
    h5 {
        font-size: 1rem;
    }
    h6 {
        font-size: 0.7rem;
    }
}

/* Custom Scrollbar */
@media (min-width: 700px) {
    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-track {
        background: #46c7ff;
    }
    ::-webkit-scrollbar-thumb {
        background: #ffffff;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #e0e0e0;
    }
}

.question-answers {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.question {
    padding: 0 5px;
    margin-bottom: 30px;
}
button {
    border: solid 3px white;
    background-color: unset;
    font-size: 1.25rem;
    border-radius: 7px;

    text-align: center;
    box-sizing: border-box;
    width: 185px;
    padding: 20px 0;
    margin: 10px;

    cursor: pointer;
}
button:hover {
    background: #ffffff;
    font-weight: bold;
    color: #2379ad;
}
.previous-question-button {
    width: unset;
    padding: 20px;
    margin: 5px;
}
#question-count {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 0 0 10px;

    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.75rem;
    background: #ffffff;
    color: #2379ad;
    z-index: 1;
    cursor: pointer;
}
#question-count:hover {
    text-decoration: underline;
}
#title-card {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 0 10px 0;

    text-align: center;
    padding: 0.75rem;
    background: #ffffff;
    color: #2379ad;
    text-decoration: none;
    z-index: 1;
}
#github-card {
    position: absolute;
    bottom: 0;
    left: 0;

    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    z-index: 1;
}
#github-card a {
    cursor: pointer;
    padding-left: 7px;
    display: flex;
    align-items: center;
}
.github-logo {
    width: 1.5rem;
}
#github-card a:hover .github-logo {
    filter: brightness(70%);
}
.previous-answers-container {
    margin-bottom: 20px;
    box-sizing: border-box;

    display: flex;
    align-items: stretch;
    justify-content: center;
    position: relative;
}
.previous-answer-edit {
    border: solid 3px white;
    border-right: none;
    border-radius: 7px 0 0 7px;
    cursor: pointer;
    width: 78px;
    background-image: url('/assets/images/edit.png');
    background-size: 100%;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
}
.previous-answer-edit:hover {
    background-image: url('/assets/images/edit-hover.png');
    background-color: white;
}
.previous-answer-title {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: solid 3px white;
    border-radius: 0 7px 7px 0;
}
.previous-questions {
    display: flex;
    justify-content: center;
}
.previous-questions-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
@media (max-width: 450px) {
    #title-card {
        border-radius: 0;
        right: 0;
    }
    #question-count {
        bottom: 0;
        top: unset;
        border-radius: 10px 0 0 0;
        font-size: 1.2rem;
    }
    button {
        width: 140px;
        font-size: 1rem;
    }
    #start, #next, #back {
        min-width: 140px;
    }
    #github-card a {
        padding: 0;
    }
    #github-card h6 {
        display: none;
    }
    .previous-question-button {
        padding: 15px;
    }
    .previous-answers-container {
        padding: 5px 0;
    }
    .previous-questions-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @media (max-width: 350px) {
        button {
            width: 120px;
        }
        #start, #next, #back {
            min-width: 120px;
        }
        .previous-questions-grid {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}
#start, #next, #back {
    margin-top: 30px;
    width: unset;
    padding-right: 20px;
    padding-left: 20px;
    min-width: 185px;
}