.parallax-html {
    height: 100%;
    box-sizing: border-box;
}
.parallax-body {
    position: relative;
    min-height: 100%;
    box-sizing: inherit;
    margin: 0;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    width: 100%;
    background-color: #222326;
}
.parallax {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    width: 100%;
}
.backdrop {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateZ(-5px) scale(1.5);
    position: absolute;
    width: calc(100% + 10px);
    object-fit: cover;
    z-index: -1;
}
.section {
    position: relative;
    min-height: 350px;
    padding: 30px;
    box-sizing: border-box;
    background-color: rgba(62, 65, 255, 0.3);
}
.section-transparent {
    background: none;
}
.section h2 {
    margin-bottom: 10px;
}
@media (max-width: 400px) {
    .section {
        padding: 30px 10px;
    }
}
.void {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.anchor {
    position: absolute;
    top: -70px;
}
.graphic {
    height: 100%;
    max-height: 400px;
}
.graphic-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
@media (max-width: 900px) {
    .graphic {
        max-height: 300px;
        margin-bottom: 10px;
    }
    .graphic-container {
        flex-direction: column;
    }
}
/*
.graphic {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.graphic p {
    max-width: 100%;
}
*/

/* Section Sizes */
.void-title {
    height: 600px;
}
.section-first {
    margin-top: 600px;
}
.void-buttons {
    height: 120px;
}
.section-references {
    margin-top: 120px;
}

/* Title*/
.void-title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.void-title h2 {
    margin: 0;
}
.void-title h3 {
    font-weight: normal;
}
.void-title p {
    font-size: 1rem;
}

/* Graphics */
.section-healthcare .graphic {
    max-height: unset;
    height: unset;
    width: 90%;
}

/* Discussion */
.section-discussion {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-discussion p{
    text-align: justify;
    white-space: pre-wrap;
}

/* Buttons */
.void-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
#reflections {
    width: 300px;
}

/* References */
.section-references {
    min-height: auto;
    padding-bottom: 90px;
}
.section-references h3 {
    margin-bottom: 10px;
}
.section-references p {
    margin-top: 15px;
}
.section-references p a:hover {
    filter: brightness(85%);
}
.section-references p, .section-references h3 {
    text-align: start;
    white-space: pre-wrap;
}

/* Reflections */
.section-reflection {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.section-reflection p{
    text-align: justify;
    white-space: pre-wrap;
}