.parallax-html {
    height: 100%;
    box-sizing: border-box;
}
.parallax-body {
    position: relative;
    min-height: 100%;
    box-sizing: inherit;
    margin: 0;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    width: 100%;
    background-color: #222326;
}
.parallax {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    width: 100%;
}
.backdrop {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateZ(-5px) scale(1.5);
    position: absolute;
    width: calc(100% + 10px);
    object-fit: cover;
    z-index: -1;
}
.section {
    position: relative;
    min-height: 450px;
    padding: 30px;
    box-sizing: border-box;
    background-color: #3e41ff;
}
@media (max-width: 400px) {
    .section {
        padding: 30px 10px;
    }
}
.void {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.anchor {
    position: absolute;
    top: -70px;
}

/* Section Sizes */
.void-title {
    height: 600px;
}
.section-first {
    margin-top: 600px;
}
.void-vaccinations {
    height: 500px;
}
.section-impacts {
    margin-top: 500px;
}
.void-buttons {
    height: 120px;
}
.section-references {
    margin-top: 120px;
}

/* Title*/
.void-title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.void-title h2 {
    margin: 0;
}
.void-title h3 {
    font-weight: normal;
}

/* Buttons */
.void-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}